In [2]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\helle\anaconda3\lib\site-packages (0.1.64)
Requirement already satisfied: pandas>=0.24 in c:\users\helle\anaconda3\lib\site-packages (from yfinance) (0.25.1)
Requirement already satisfied: lxml>=4.5.1 in c:\users\helle\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.20 in c:\users\helle\anaconda3\lib\site-packages (from yfinance) (2.22.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\helle\anaconda3\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: numpy>=1.15 in c:\users\helle\anaconda3\lib\site-packages (from yfinance) (1.16.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\helle\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\helle\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\helle\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\helle\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\helle\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\helle\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2019.9.11)
Requirement already satisfied: six>=1.5 in c:\users\helle\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)

You are using pip version 18.1, however version 21.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [5]:
aapl = yf.Ticker('AAPL')

In [18]:
days=20
hist = aapl.history(period=f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-09-28,143.250000,144.750000,141.690002,141.910004,108972300,0,0
2021-09-29,142.470001,144.449997,142.029999,142.830002,74602000,0,0
2021-09-30,143.660004,144.380005,141.279999,141.500000,88934200,0,0
2021-10-01,141.899994,142.919998,139.110001,142.649994,94639600,0,0
2021-10-04,141.759995,142.210007,138.270004,139.139999,98322000,0,0
2021-10-05,139.490005,142.240005,139.360001,141.110001,80861100,0,0
2021-10-06,139.470001,142.149994,138.369995,142.000000,83221100,0,0
2021-10-07,143.059998,144.220001,142.720001,143.289993,61732700,0,0
2021-10-08,144.029999,144.179993,142.559998,142.899994,58718700,0,0
2021-10-11,142.270004,144.809998,141.809998,142.809998,64452200,0,0
2021-10-12,143.229996,143.250000,141.039993,141.509995,73035900,0,0
2021-10-13,141.240005,141.399994,139.199997,140.910004,78762700,0,0
2021-10-14,142.110001,143.880005,141.509995,143.759995,69907100,0,0
2021-10-15,143.770004,144.899994,143.509995,144.839996,67885200,0,0
2021-10-18,143.449997,146.839996,143.160004,146.550003,85589200,0,0
2021-10-19,147.009995,149.169998,146.550003,148.759995,76378900,0,0
2021-10-20,148.699997,149.750000,148.119995,149.259995,58418800,0,0
2021-10-21,148.809998,149.639999,147.869995,149.479996,61421000,0,0
2021-10-22,149.690002,150.179993,148.639999,148.690002,58839600,0,0
2021-10-25,148.679993,149.369995,147.619995,148.639999,50652900,0,0

In [19]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [21]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-09-28,143.250000,144.750000,141.690002,141.910004,108972300,0,0
1,2021-09-29,142.470001,144.449997,142.029999,142.830002,74602000,0,0
2,2021-09-30,143.660004,144.380005,141.279999,141.500000,88934200,0,0
3,2021-10-01,141.899994,142.919998,139.110001,142.649994,94639600,0,0
4,2021-10-04,141.759995,142.210007,138.270004,139.139999,98322000,0,0
5,2021-10-05,139.490005,142.240005,139.360001,141.110001,80861100,0,0
6,2021-10-06,139.470001,142.149994,138.369995,142.000000,83221100,0,0
7,2021-10-07,143.059998,144.220001,142.720001,143.289993,61732700,0,0
8,2021-10-08,144.029999,144.179993,142.559998,142.899994,58718700,0,0
9,2021-10-11,142.270004,144.809998,141.809998,142.809998,64452200,0,0
10,2021-10-12,143.229996,143.250000,141.039993,141.509995,73035900,0,0
11,2021-10-13,141.240005,141.399994,139.199997,140.910004,78762700,0,0
12,2021-10-14,142.110001,143.880005,141.509995,143.759995,69907100,0,0
13,2021-10-15,143.770004,144.899994,143.509995,144.839996,67885200,0,0
14,2021-10-18,143.449997,146.839996,143.160004,146.550003,85589200,0,0
15,2021-10-19,147.009995,149.169998,146.550003,148.759995,76378900,0,0
16,2021-10-20,148.699997,149.750000,148.119995,149.259995,58418800,0,0
17,2021-10-21,148.809998,149.639999,147.869995,149.479996,61421000,0,0
18,2021-10-22,149.690002,150.179993,148.639999,148.690002,58839600,0,0
19,2021-10-25,148.679993,149.369995,147.619995,148.639999,50652900,0,0

In [25]:
hist_msft = yf.Ticker("MSFT").history(period=f'{days}d')
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-09-28,289.799988,290.779999,282.750000,283.519989,43186200,0,0
2021-09-29,285.100006,286.769989,283.010010,284.000000,26353700,0,0
2021-09-30,285.709991,287.829987,281.619995,281.920013,32325800,0,0
2021-10-01,282.119995,289.980011,281.290009,289.100006,30086300,0,0
2021-10-04,287.399994,287.750000,280.250000,283.109985,31350700,0,0

In [26]:
pd.concat([hist, hist_msft], axis=1)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2021-09-28,143.250000,144.750000,141.690002,141.910004,108972300,0,0,289.799988,290.779999,282.750000,283.519989,43186200,0,0
2021-09-29,142.470001,144.449997,142.029999,142.830002,74602000,0,0,285.100006,286.769989,283.010010,284.000000,26353700,0,0
2021-09-30,143.660004,144.380005,141.279999,141.500000,88934200,0,0,285.709991,287.829987,281.619995,281.920013,32325800,0,0
2021-10-01,141.899994,142.919998,139.110001,142.649994,94639600,0,0,282.119995,289.980011,281.290009,289.100006,30086300,0,0
2021-10-04,141.759995,142.210007,138.270004,139.139999,98322000,0,0,287.399994,287.750000,280.250000,283.109985,31350700,0,0
2021-10-05,139.490005,142.240005,139.360001,141.110001,80861100,0,0,284.049988,290.399994,284.049988,288.760010,24993000,0,0
2021-10-06,139.470001,142.149994,138.369995,142.000000,83221100,0,0,285.779999,293.630005,285.510010,293.109985,28002600,0,0
2021-10-07,143.059998,144.220001,142.720001,143.289993,61732700,0,0,295.179993,296.640015,293.920013,294.850006,20430500,0,0
2021-10-08,144.029999,144.179993,142.559998,142.899994,58718700,0,0,296.220001,296.640015,293.760010,294.850006,17680300,0,0
2021-10-11,142.270004,144.809998,141.809998,142.809998,64452200,0,0,292.920013,297.970001,292.750000,294.230011,19298600,0,0
2021-10-12,143.229996,143.250000,141.039993,141.509995,73035900,0,0,295.339996,295.440002,292.350006,292.880005,17974100,0,0
2021-10-13,141.240005,141.399994,139.199997,140.910004,78762700,0,0,294.910004,297.279999,293.489990,296.309998,23416300,0,0
2021-10-14,142.110001,143.880005,141.509995,143.759995,69907100,0,0,299.209991,303.269989,297.829987,302.750000,27262900,0,0
2021-10-15,143.770004,144.899994,143.509995,144.839996,67885200,0,0,302.339996,304.450012,300.519989,304.209991,25374700,0,0
2021-10-18,143.449997,146.839996,143.160004,146.550003,85589200,0,0,303.570007,308.209991,302.690002,307.290009,22729300,0,0
2021-10-19,147.009995,149.169998,146.550003,148.759995,76378900,0,0,308.350006,309.299988,307.220001,308.230011,17682100,0,0
2021-10-20,148.699997,149.750000,148.119995,149.259995,58418800,0,0,309.209991,309.700012,306.109985,307.410004,16537100,0,0
2021-10-21,148.809998,149.639999,147.869995,149.479996,61421000,0,0,307.170013,311.019989,306.359985,310.760010,16918100,0,0
2021-10-22,149.690002,150.179993,148.639999,148.690002,58839600,0,0,310.399994,311.089996,307.799988,309.160004,17440800,0,0
2021-10-25,148.679993,149.369995,147.619995,148.639999,50652900,0,0,309.359985,309.399994,306.459991,308.130005,17531200,0,0

In [27]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-09-28,143.250000,144.750000,141.690002,141.910004,108972300,0,0
2021-09-29,142.470001,144.449997,142.029999,142.830002,74602000,0,0
2021-09-30,143.660004,144.380005,141.279999,141.500000,88934200,0,0

In [28]:
hist.index

DatetimeIndex(['2021-09-28', '2021-09-29', '2021-09-30', '2021-10-01',
               '2021-10-04', '2021-10-05', '2021-10-06', '2021-10-07',
               '2021-10-08', '2021-10-11', '2021-10-12', '2021-10-13',
               '2021-10-14', '2021-10-15', '2021-10-18', '2021-10-19',
               '2021-10-20', '2021-10-21', '2021-10-22', '2021-10-25'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [32]:
hist.index = hist.index.strftime('%d %B %Y')

In [34]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
28 September 2021,143.250000,144.750000,141.690002,141.910004,108972300,0,0
29 September 2021,142.470001,144.449997,142.029999,142.830002,74602000,0,0
30 September 2021,143.660004,144.380005,141.279999,141.500000,88934200,0,0
01 October 2021,141.899994,142.919998,139.110001,142.649994,94639600,0,0
04 October 2021,141.759995,142.210007,138.270004,139.139999,98322000,0,0

In [37]:
hist = hist[['Close']]
hist.columns = ['apple']
hist.head()

                        apple
28 September 2021  141.910004
29 September 2021  142.830002
30 September 2021  141.500000
01 October 2021    142.649994
04 October 2021    139.139999

In [39]:
hist = hist.T
hist

,28 September 2021,29 September 2021,30 September 2021,01 October 2021,04 October 2021,05 October 2021,06 October 2021,07 October 2021,08 October 2021,11 October 2021,12 October 2021,13 October 2021,14 October 2021,15 October 2021,18 October 2021,19 October 2021,20 October 2021,21 October 2021,22 October 2021,25 October 2021
apple,141.910004,142.830002,141.5,142.649994,139.139999,141.110001,142.0,143.289993,142.899994,142.809998,141.509995,140.910004,143.759995,144.839996,146.550003,148.759995,149.259995,149.479996,148.690002,148.639999

In [40]:
hist.index.name = "name"

In [41]:
hist.head()

,28 September 2021,29 September 2021,30 September 2021,01 October 2021,04 October 2021,05 October 2021,06 October 2021,07 October 2021,08 October 2021,11 October 2021,12 October 2021,13 October 2021,14 October 2021,15 October 2021,18 October 2021,19 October 2021,20 October 2021,21 October 2021,22 October 2021,25 October 2021
name,,,,,,,,,,,,,,,,,,,,
apple,141.910004,142.830002,141.5,142.649994,139.139999,141.110001,142.0,143.289993,142.899994,142.809998,141.509995,140.910004,143.759995,144.839996,146.550003,148.759995,149.259995,149.479996,148.690002,148.639999